@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.testonomials{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px ;
}

.testonomials-top{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.testonomials-top-head{
    font-size: min(8vw,50px);
    font-family: "Roboto", sans-serif;
    color: rgba(38, 88, 42, 1);
    font-weight: 400;
}
.testonomials-top-text{
    font-size: min(3vw,15px);
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    opacity: .7;
    font-weight: 400;
}
.testonomials-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}
@media (max-weight:500px) {
    .testonomials{
        margin-bottom: 100px;
    }
}